/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  height: 500px;
}


label {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 1em;
  color: #000000;
  align-self: flex-start;
  padding-top: 5%;
}

form {
  background: #ffffff;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

input {
  height: 30%;
  width: 30%;
  margin-top: 3%;
}

img {
  height: 7em;
  align-self: center;
}

button {
  align-self: flex-end;
  background: #134d71;
  height: 3em;
  width: 45em;
  border-radius: 0.5em;
  color: #ffffff;
  padding: auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 1%;

}

#choose-message {
  height: 6em;
  width: 30em;
}

#display-message {
  height: 150px;
  width: 700px;
}

 #mantra-label {
  margin-right: 3.5em;
}

.gradient {
  background-image: linear-gradient(#134d71 15%, #78a7c6 60%, #f7e4bf);
}

.hidden {
  display: none!important;
}

#message {
  align-self: center;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}
